{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes</title>
</head>
<body>
    <header>
        {{> header }}
    </header>
    <h1>Personajes</h1>
    <ul>
        {{#each personajes}}
        <li>
            <h2>Nombre: {{nombre}}</h2>
            <p>Nivel: {{nivel}}</p>
            <p>Edad: {{edad}}</p>
            <p>Casa: {{casa}}</p>
            <p>Rol: {{rol}}</p>
        </li>
        <a href="/personajes/edit/{{this._id}}" class="btn">Editar</a>
        <a href="/personajes/delete/{{this._id}}" class="btn">Eliminar</a>
        {{/each}}
        </ul>
   
</body>
</html> --}}
<h1>Personajes</h1>
<a href="/personajes/crear" class="btn">Agregar Nuevo Personaje</a>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Nivel</th>
            <th>Edad</th>
            <th>Casa</th>
            <th>Rol</th>
            <th>Acciones</th>
            <th>Fecha de Edición</th>
            <th>Imagen</th>
            
        </tr>
    </thead>
    <tbody>
        {{#each personajes}}
        <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.nivel}}</td>
            <td>{{this.edad}}</td>
            <td>{{this.casa}}</td>
            <td>{{this.rol}}</td>
            <td>
                <a href="/personajes/edit/{{this._id}}" class="btn">Editar</a>
                <a href="/personajes/delete/{{this._id}}" class="btn">Eliminar</a>
            </td>
            <td>
                {{#if this.fechaEdicion}}
                    {{this.fechaEdicion}} <!-- Mostrar la fecha -->
                {{else}}
                    Nunca editado
                {{/if}}
            </td>
            <td>{{#if this.imagen}}
                    <img src="./uploads/{{this.imagen}}" alt="{{this.nombre}}" style="max-width:100px">
                {{/if}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
